body{
    background-image: linear-gradient(to right, #029246, #FBFBFB, #d02c38);
}

/* Main*/

main{
    height: 10000px ;
    width: 100vw;
}

#presentation h1 {
    color: red;
    text-align: center;
    text-decoration: underline;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
}

#presentation p{
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.diaporama1{
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border: 3px solid black;
    background-image: url(/image-diaporama/drapeau-Italie.png);
    
    -webkit-animation-name: diaporama1;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running ;
    
   /*-moz-animation-name: diaporama1;
    -moz-animation-duration: 10s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-play-state: running; */    

    animation-name: diaporama1;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running ;
}

@-webkit-keyframes diaporama1{
    0%{background-image: url(/image-diaporama/drapeau-Italie.jpg);}
    25%{background-image: url(/image-diaporama/venice-diaporama.jpg);}
    50%{background-image: url(/image-diaporama/tour-pise-diaporama.jpg);}
    75%{background-image: url(/image-diaporama/colisée-diaporama.jpg);}
    99%{background-image: url(/image-diaporama/carte-italienne-diaporama.jpg);}
}

@keyframes diaporama1{
    0%{background-image: url(/image-diaporama/drapeau-Italie.jpg);}
    25%{background-image: url(/image-diaporama/venice-diaporama.jpg);}
    50%{background-image: url(/image-diaporama/tour-pise-diaporama.jpg);}
    75%{background-image: url(/image-diaporama/colisée-diaporama.jpg);}
    99%{background-image: url(/image-diaporama/carte-italienne-diaporama.jpg);}
}

#rome h1{
    color: red;
    text-align: center;
    text-decoration: underline;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
}

#rome p{
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: -500px;
    margin-left: 350px;
}
#gif {
    translate: 650px;
}

#fontaine h1{
    color: red;
    text-align: center;
    text-decoration: underline;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;   
}

#fontaine p{
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: -400px;
    margin-left: 560px;
}

#trevis {
    translate: -20px;
}
#vatican {
    margin-top: 300px;
}