html{
	padding: 0;
	margin: 0;
	background-color: #0E5188;
	font-size: 25px;
	overflow-x: hidden;
}

@font-face {
    font-family: 'viking';
    src: url('../FONTS/Myrkvior.otf');
    font-weight: normal;
    font-style: normal;
}


*:not(header, footer){
	font-family: 'viking', cursive;
	border-radius: 1.3vw;
}

h1{
	font-family: 'lobster', cursive;
	border-radius: 1.3vw;
}

header{
	margin-bottom: 2vw;
}

footer{
	margin-top: 2vw;
}

h2{
	font-family: 'lobster', cursive;

}

.intro-master{
	display: flex;
	justify-content: center;
	align-items: center;
}

/*--3 version pour faire un diapo de 5 images compatibles, certains seront utilisé plutot que d'autres en fonction des navigateurs--*/

.diapo{
	-webkit-animation-name: diapo1;
    -webkit-animation-duration: 20s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running ;

   -moz-animation-name: diapo1;
    -moz-animation-duration: 20s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-play-state: running;

	width: 50vmax;
	height: 50vmax;
	margin: 0 auto;
	background: no-repeat;
	background-image: url(../IMG/SWEDEN/background/suede1.jpg);
	animation-name: diapo1;
	animation-duration: 20s;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;
	display: flex;
	justify-content: center;
}

/*--Keyframe permettant la définition des images sélectionné en fonction du temps--*/

@keyframes diapo1{
	0%{background-image: url(../IMG/SWEDEN/background/suede1.jpg);}
	25%{background-image: url(../IMG/SWEDEN/background/suede6.jpg);}
	50%{background-image: url(../IMG/SWEDEN/background/suede3.jpg);}
	75%{background-image: url(../IMG/SWEDEN/background/suede4.jpg);}
	100%{background-image: url(../IMG/SWEDEN/background/suede5.jpg);}
}

.welcome{
	display: flex;
	z-index: 2;
	position: absolute;
	color: #fec200;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0);
	font-size: 3em;
}

/*--dispotision grille pour les informations "Découverte de la Suède"--*/

.first-lane{
	display: grid;
    grid-template-rows: 1fr 0.3fr 0.7fr 0.7fr;
    grid-template-columns: 2fr 1fr 2fr;
    grid-column-gap: 50px;
    grid-row-gap: 5px;
    padding: 1vw;
    margin-top: 2vw;
    border: 50px;	
    text-align: center;
    background-color: #fec200;
}

#title1{
	grid-row: 1;
	grid-column: 2;
	font-size: 2em;
	color: #0E5188;
	
}

#one{
	font-size: 1.5em;
	grid-row: 3;
	grid-column: 1;
    background-color: #0E5188;
    color: #fec200;
}

#two{
	grid-row: 4;
	grid-column: 1;
    background-color: #0E5188;
    color: #fec200;
}

#three{
	grid-row: 3;
	grid-column: 2;
	font-size: 1.5em;
    background-color: #0E5188;
    color: #fec200;
	
}

#four{
	grid-row: 4;
	grid-column: 2;
    background-color: #0E5188;
    color: #fec200;
}

#five{
	font-size: 1.5em;
	grid-column: 3;
	grid-row: 3;
	background-color: #0E5188;
    color: #fec200;
}

#six{
	grid-column: 3;
	grid-row: 4;
	background-color: #0E5188;
    color: #fec200;
}

#learn{
	background-color: #0E5188;	
	grid-row: 2;
	grid-column: 1;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

#info{
	background-color: #0E5188;	
	grid-row: 2;
	width: 3vw;
	height: auto;
	grid-column: 1;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

#map{
	background-color: #0E5188;	
	grid-row: 2;
	grid-column: 3;
	width: 3vw;
	height: auto;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

/*--dispotision grille pour les informations "Les lieux importants"--*/

.second-lane{
    text-align: center;
    background-color: #b3b3b3;
    display: grid;
}

.grid-txt{
	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 2vw;
    grid-column-gap: 2vw;
    padding: 2vw;
}

a{
	text-decoration: underline red;
	color: #fec200;
}

#infoed{
	margin-top: 2vw;
}

#maped{
	margin-top: 2vw;
}
#moar{
	color: black;
}

span{
	font-size: 1.2em;
	color: #0e5188;
}

#txtone{
	grid-row: 1;
	grid-column: 1;
}

#txttwo{
	grid-row: 2;
	grid-column: 2;
}

#txtone{
	grid-row: 3;
	grid-column: 1;
}

.imgone{
 	background: url("../IMG/SWEDEN/where/Stockholm.jpg");
 	grid-column: 2;
 	grid-row: 1;
 	background-size: cover;
 	 background-repeat: no-repeat;
}

.imgtwo{
	background: url("../IMG/SWEDEN/where/Sarek.jpg");
	grid-column: 1;
	grid-row: 2;
	background-size: cover;
 	 background-repeat: no-repeat;
}

.imgthree{
	background: url("../IMG/SWEDEN/where/Wonder.jpg");
	grid-row: 3;
	grid-column: 2;
	background-size: cover;
 	 background-repeat: no-repeat;
}