html {
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: 'Beauty';
	src: url(../FONTS/BeautyDemo.ttf), url(../FONTS/BeautyDemo.otf);
}
@font-face {
	font-family: 'Ubuntu';
	src: url(../FONTS/ubuntu-title-fr-1.1.ttf), url(../FONTS.Ubuntu-Title.ttf);
}
*  {
	font-family: 'Beauty';
}

body {
	margin: 0;
	padding: 0;
}
header {
	display: flex;
	background-image: url(../IMG/HEADER/banniere2.png);
	opacity: 0.8;
	width: 100vw;
	height: 250px;


}.hover1 p {
	font-size: 60px;
	margin-top: 0;
}
.hover2 p {
	font-size: 60px;
	margin-top: 0;
}
.flexdirection {
	display: flex;
	justify-content: space-evenly;
}
.hover1{
	display: flex;
	margin-left: 450px;
	margin-right: 100px;
	padding-top: 70px;
	color: #01b6ff;
	z-index: 3;
}
.hover2{
	display: flex;
	padding-top: 70px;
	color: #01b6ff;
	z-index: 3;
}
#icon1 {
	margin-right: 25px;
	font-size: 50px;
}
.continentnavigation {
	display: none;
}
.guidenavigation {
	display: none;
}
.hover1:hover .continentnavigation {
	display: inline-block;
	position: absolute;
	top: 190px;
	color: #ff936a;
}
.hover2:hover .guidenavigation {
	display: inline-block;
	position: absolute;
	top: 190px;
	color: #ff936a;
}
.logo {
	width: autow;
	height: 180px;
	margin-right: 100px;
	padding-top: 10px;
}

.hover2:hover #icon1 {
	color: #ff936a;

}
.hover2:hover p {
	color: #ff936a;

}
.hover1:hover #icon1 {
	color: #ff936a;

}
.hover1:hover p {
	color: #ff936a;

}
.guidenavigation li {
	font-size: 46px;
	list-style: none;
}
.continentnavigation li {
	font-size: 46px;
	list-style: none;
}
li {
	font-family: 'Ubuntu';
}
.nuage {
	position: absolute;
	z-index: 1;
	left: 270px;
	top: 40px;
	width: auto;
	height: 115px;
}
.nuage2 {
	position: absolute;
	z-index: 1;
	left: 1110px;
	top: 10px;
	width: auto;
	height: 155px;
}
footer {
	background-color: #01b6ff;
	height: 50px;
	width: 100vw;
	margin-top: -50px;
}
.footertxt {
	font-size: 50px;
	padding-left: 100px;
	font-family: fantasy;
}
button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #01b6ff;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

button:hover, button:focus {
  color: #01b6ff;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #01b6ff;
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 51%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
button {
	background-color: transparent;
	border: none;
}